@import '../../../stylesheets/generics/includables';

:host {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: $c-dark;
  grid-template-columns: 1fr 300px 300px 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  grid-template-areas: '. footer-navigation footer-legal .';
  color: $c-light;

  @include small-medium {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'footer-navigation footer-legal';
  }

  @include min-small {
    grid-template-columns: 1fr;
    grid-template-areas: 'footer-navigation' 'footer-legal';

    & > * {
      text-align: center;
    }
  }
}

.footer {
  grid-area: footer-navigation;
}

.legal {
  padding: 20px;
  font-size: 13px;
  grid-area: footer-legal;
}

