<div class="footer">
  <a class="btn md menu dark" [routerLink]="'/imprint'">Impressum</a>
  <a class="btn md menu dark" [routerLink]="'/data-protection'">Datenschutz</a>
  <a class="btn md menu dark" [routerLink]="'/terms-of-use'">Nutzungsbedingungen</a>
  <a class="btn md menu dark" [routerLink]="'/press'">Presse</a>
  <a class="btn md menu dark" [routerLink]="'/contact'">kontakt</a>
</div>

<div class="legal">
  <span>Administrator: {{author}}</span><br>
  <span>Copyright &copy; {{getYear()}}</span><br>
  <span>Utilized technologies: <a [routerLink]="'/credits'">Credits</a></span><br>
  <span>Version: {{version}}</span>
</div>
