@import '../../../stylesheets/generics/includables';

:host {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 330px 1fr fit-content(150px);
  grid-template-columns: 1fr 900px 1fr;
  grid-template-areas: '. section-header .' '. section-content .' '. section-footer .';
  scroll-behavior: smooth;

  @include min-medium() {
    grid-template-rows: 250px 1fr 200px;
    grid-template-columns: 1fr;
    grid-template-areas: 'section-header' 'section-content' 'section-footer';
  }

  @include small-medium() {
    grid-template-rows: 250px 1fr 100px;
  }
}

.blocker {
  transition: 1s;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $c-light;
  opacity: 0;
  animation-name: blocker-fade-out;
  animation-duration: .6s;
  z-index: 2;

  @keyframes blocker-fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

sidebar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 5;

  &.visible {
    height: calc(100% - 50px);

    & + header {
      opacity: 1;
    }
  }
}

header {
  grid-area: section-header;
}

.content {
  grid-area: section-content;
  margin: 0;
  padding: 0;
  background-color: $c-light;
}

footer {
  grid-area: section-footer;
  width: 100%;
}

