<header></header>
<div class="content">
    <router-outlet></router-outlet>
</div>
<footer></footer>
<modal></modal>

<div *ngIf="blockerIsVisible" class="blocker"></div>
<sidebar [ngClass]="{'visible': sidebarVisible}"></sidebar>

<editor *ngIf="user?.role >= ROLES.EDITOR"></editor>
