<div [style.display]="visible ? 'block' : 'none'" class="editor__wrapper">
    <div (click)="closeEditor()" class="editor__blocker"></div>
    <div class="editor__textarea">
        <textarea id="codemirror"></textarea>
        <div class="align-right">
            <a (click)="saveText()" class="btn dark outline success">Save</a>
            <a (click)="closeEditor()" class="btn dark outline error">Cancel</a>
        </div>
    </div>
</div>
