@import '../../../stylesheets/generics/includables';

.editor__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.editor__blocker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba($c-dark, 0.25);
}

.editor__textarea {
  position: absolute;
  margin: auto auto;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 60;

  textarea {
    width: 100%;
    height: 100%;
  }
}

::ng-deep {
  .CodeMirror {
    height: 100%;
    width: 100%;
  }

  .CodeMirror-line {
    padding-left: 30px;
  }
}
