@import '../../../stylesheets/generics/includables';

:host {
  height: 300px;
  cursor: default;
  user-select: none;
}

.header__carousel {
  position: relative;
  width: 100%;
  height: 250px;

  .carousel__img {
    background: url("https://lastenrad-muenchen.de/core/img/daniel-logo-orange.png") no-repeat center bottom;
    background-size: cover;
    max-width: 100%;
    height: 100%;

    p {
      position: absolute;
      bottom: 20px;
      background: transparent;
      color: $c-light;
      text-align: center;
      font-weight: bolder;
      width: 100%;
      text-shadow: -1px -1px 0 $c-dark,
      1px -1px 0 $c-dark,
      -1px 1px 0 $c-dark,
      1px 1px 0 $c-dark;
    }
  }
}

.header__logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 80px;
  width: 120px;
  z-index: 5;
  background: url("https://lastenrad-muenchen.de/core/img/daniel-logo-orange.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}

.header__user-button,
.header__edit-button {
  display: block;
  position: fixed;
  top: 10px;
  right: 50%;
  height: 50px;
  width: 50px;
  z-index: 10;
  transform: translateX(430px);
  transition: .3s;

  button {
    height: 50px;
    width: 50px;
  }

  @include min-medium {
    display: none;
  }
}

.header__edit-button {
  transform: translateX(380px);
}

.header__user-popup-wrapper {

  .blocker {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  user-card {
    position: fixed;
    top: 60px;
    right: 50%;
    transform: translateX(410px);
    width: 300px;
    z-index: 10;
    box-shadow: 0 0 5px 0 $c-dark;
  }
}

.header__sidebar-puller {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  z-index: 10;
  transition: .3s;

  &.sidebar-visible {
    right: calc(100% - 50px);
  }

  &:active {
    background-color: $c-dark;
  }

  @include min-medium {
    display: inline;
    text-align: right;

    button {
      width: 50px;
      height: 100%;
    }
  }
}

