@import '../../../stylesheets/generics/includables';

.page-section__wrapper {
  display: grid;
  width: 100%;
  border-bottom: 1px dotted $c-light-hover;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 30px 1fr 40px;
  grid-template-areas: '. . .' '. page-section__content .' '. page-section__btt-button .';

  &.parallax {
    display: block;
    height: 250px;
    width: 100%;
    box-shadow: none;

    .page-section__btt-button {
      display: none;
    }

    .page-section__content {
    }
  }

  .page-section__btt-button {
    grid-area: page-section__btt-button;
    width: 40px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 25%);
    position: relative;
  }
}

.page-section__content {
  grid-area: page-section__content;
  display: grid;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: start;

  &.edit-mode:hover {
    cursor: pointer;
    border: 1px $c-accent solid;
    border-right: 0;
    border-left: 0;
  }

  &.columns-1 {
    align-items: center;
    grid-template-columns: 1fr;
  }

  &.columns-2 {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;

    @include min-medium {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
  }

  &.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;

    @include min-medium {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
  }

  &.parallax {
    grid-template-columns: 1fr;
    align-items: center;
    box-shadow: none;
    background: $c-dark fixed center center;
    background-size: cover;
    border-bottom: none;
  }
}

::ng-deep {
  color: $c-dark;

  h1, h2 {
    text-transform: none;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  }

  &.columns-1 {
    & > p {
      padding-left: 150px;
      padding-right: 170px;

      @include min-small() {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include small-medium() {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }

  &.columns-2 {
    & > p {
      padding-left: 50px;
      padding-right: 50px;

      @include min-medium() {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  &.columns-3 {
    & > p {
      padding-left: 30px;
      padding-right: 30px;

      @include min-medium() {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
