@import '../../../stylesheets/generics/includables';

.day__wrapper {
  height: 100%;
  width: 100%;
  padding: 15px 0;
  position: relative;
  background-color: $c-light;
  user-select: none;

  h1 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
  }

  h2 {
    margin-top: 0;
    font-size: 12px;
    line-height: 12px;
  }

  &.registered {
    cursor: cell;
  }

  &.registered:hover > .overlay {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($c-black, 0.15);
  }

  &.occupied {
    cursor: default;
    background-color: $c-accent-lighten-half;
  }

  &.booked {
    cursor: not-allowed;
    background-color: $c-success-lighten-half;
  }

  &.disabled {
    cursor: default;
    background-color: $c-light-darken-half;

    h1, h2 {
      color: $c-dark-lighten-half;
    }
  }

  &.error {
    cursor: default;
    background-color: $c-error-lighten-half;
  }
}
