@import '../../../stylesheets/generics/includables';

:host {
  text-align: justify;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;

  a {
    margin: 1px;
    flex-grow: 1;
    border-color: transparent;
  }
}
