<h1>Utilized Technologies</h1>
<div class="container">
    <a class="btn lg light outline menu" *ngFor="let dep of getDeps()"
       href="https://www.npmjs.com/package/{{dep.name}}"
       target="_blank">{{dep.name}} (v. {{dep.version}})</a>
</div>
