@import '../../../stylesheets/generics/includables';

.grid {
  align-items: center;

  div {
    width: 100%;

    a {
      width: 100%;
      position: relative;

      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($c-accent, 0);
      }

      &:hover {
        &::before {
          background-color: rgba($c-accent, 0.5);
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
